langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
chromadb
streamlit
langchain_huggingface
sentence-transformers
faiss_cpu
langchain_chroma
langchain-openai
langchain_ollama
langchain_openai
langchain_community
langchain_groq